.mat-mdc-tab-header {
  background-color: var(--mat-sys-tertiary-container);
  background-color: red;
}

.tabs-wrapper {
  position: relative;
  width: 100%;
}

.add-tab-btn,
.add-tab-form {
  position: absolute;
  top: 5px;
  right: 16px;
  z-index: 10;
}

.add-tab-form {
  display: flex;
  align-items: center;
}

.tab-label {
  margin-right: 0.5rem;
}

.remove-tab-btn {
  width: 20px !important;
  height: 20px !important;
  line-height: 20px !important;
  margin-left: 0.25rem;

  mat-icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    transform: translate(-50%, -50%);
  }

  &:hover {
    color: var(--mat-sys-error);
  }
}
