.login-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);

  &__input {
    margin-bottom: 0.5rem;
  }

  &__btn {
    margin-top: 0.5rem;
    padding: 0.5em;
    cursor: pointer;
  }

  &__btn:disabled {
    cursor: not-allowed;
  }
}

.full-width {
  width: 100%;
}
