<mat-card class="card" [appActiveCard]="isActive" [ngClass]="layoutClass">
  <div class="card__header">
    <mat-card-title class="card__title">{{ card.title }}</mat-card-title>
    @if (showGroupToggle()) {
    <mat-slide-toggle [checked]="groupChecked()" (change)="onGroupToggle($event)">
      All devices
    </mat-slide-toggle>
    }
  </div>


  <div class="card__items">
    @for (item of card.items; track item.label) {
    @switch (item.type) {
    @case ('sensor') {
    <app-sensor [sensor]="item"></app-sensor>
    }
    @case ('device') {
    <app-device class="device" [device]="item" (stateChange)="onDeviceStateChange(item, $event)"></app-device>
    }

    }
    }
  </div>






</mat-card>